
<footer>
    <div class="horizontal-padding-extra-large">
        <div class="container">
            <div class="row background-opaque horizontal-padding-small">
                <p class="text-center">Copyright &copy; {{ site.time | date: '%Y' }} &mdash; {{ site.tagline }}</p>
                <p class="text-center">Maintained by <a href="http://dereknutile.com/" target="_blank">Derek Nutile</a> here <a href="https://github.com/dereknutile/mockmach" target="_blank">https://github.com/dereknutile/mockmach</a>.</p>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.horizontal-padding -->
</footer>

{% include framing/scripts.html %}
{% include framing/analytics.html %}
