<nav class="nav">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" href="/">
                <img src="/assets/ico/favicon.png" alt="{{ site.description }}">
                {% if page.title %}{{ page.title }}{% endif %}
            </a>
        </div>
        <!-- .nav-left -->

        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <!-- .nav-toggle -->

        <div class="nav-right nav-menu">
            <a class="nav-item is-tab{% if page.active=='new' %} is-active{% endif %}" href="/new">New</a>
            <a class="nav-item is-tab{% if page.active=='saved' %} is-active{% endif %}" href="/saved">Saved</a>
            <a class="nav-item is-tab{% if page.active=='password' %} is-active{% endif %}" href="/generate">Password</a>
            <a class="nav-item is-tab{% if page.active=='account' %} is-active{% endif %}" href="/account">Derek</a>
            <a class="nav-item is-tab{% if page.active=='auth' %} is-active{% endif %}" href="/">Sign-Out</a>
        </div>
        <!-- .nav-right -->
    </div>
    <!-- .container -->
</nav>
