<nav class="nav">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" href="/">
                <img src="/assets/ico/favicon.png" alt="{{ site.description }}">
            </a>
        </div>
        <!-- .nav-left -->

        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <!-- .nav-toggle -->

        <div class="nav-right nav-menu">
            <a class="nav-item is-tab{% if page.active=='generator' %} is-active{% endif %}" href="/generate">Generate</a>
            <a class="nav-item is-tab{% if page.active=='saved' %} is-active{% endif %}" href="/saved">Saved</a>
            <a class="nav-item is-tab{% if page.active=='account' %} is-active{% endif %}" href="/account">Account</a>
        </div>
        <!-- .nav-right -->
    </div>
    <!-- .container -->
</nav>
