<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" href="/">
                <img src="/assets/ico/favicon.png" alt="{{ site.description }}">
            </a>
        </div>
        <!-- .nav-left -->

        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <!-- .nav-toggle -->

        <div class="nav-right nav-menu">
            <a class="nav-item is-tab" href="/about">About</a>
            <a class="nav-item is-tab" href="/contact">Contact</a>
            <a class="nav-item is-tab" href="/login">Account</a>
        </div>
        <!-- .nav-right -->
    </div>
    <!-- .container -->
</nav>
