
<section id="description" class="palette background-dark-gradient">
    <div id="description-banner">
        <div class="container horizontal-padding-large">
            <div class="row">
                <h2 class="text-center text-shadow-dark">{{ site.description }}</h2>
            </div><!-- /.row -->
        </div><!-- /.container -->

        <div class="container container-narrow horizontal-padding-small">
            <div class="row">
                <p class="section-label"><i class="fa fa-asterisk"></i>&nbsp;[description section] <code>/_includes/sections/description.html</code></p>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#description-banner -->
</section><!-- /#description -->
