
<section id="intro" class="palette">
    <div id="intro-banner" class="horizontal-padding-medium">
        <div class="container container-narrow horizontal-padding-small">
            <div class="row">
                <h1>Introduction</h1>
                <p>The concept behind {{ site.title }} is to provide a web developer the tools to easily and rapidly create a mock-up for a client.  With {{ site.title }}, the developer can build a code scaffold and offer the client a working, interactive, demonstration of the website.</p>
                <p>Once the scaffold is complete and the review is final, the developer has all of the html, css, and javascript needed to create the live website.  No work is wasted!</p>
            </div><!-- /.row -->
        </div><!-- /.container -->

        <div class="container container-narrow horizontal-padding-small">
            <div class="row">
                <p class="section-label"><i class="fa fa-asterisk"></i>&nbsp;[intro section] <code>/_includes/sections/intro.html</code></p>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#intro-banner -->
</section><!-- /#intro -->
