
<section id="lander" class="palette">
    <div class="horizontal-padding-extra-large">
        <div class="container container-narrow">
            <div class="row">

                <h1 class="text-center text-shadow-primary">{{ site.title }}</h1>
                <h3 class="text-center horizontal-padding-small">{{ site.tagline }}</h3>
                <p class="text-center">
                    <a href="/try"><i class="fa fa-wrench"></i>&nbsp;Try</a>
                    &nbsp;
                    <a href="http://mockmach.com/docs/" target="_blank"><i class="fa fa-book"></i>&nbsp;Docs</a>
                </p>

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#lander-banner -->
</section><!-- /#lander -->
