
<section id="try-banner" class="palette">
    <div class="horizontal-padding-large">
        <div class="container">
            <div class="row">

                <h1>{{ site.title }}</h1>
                <p>Welcome, this is a big old example page. You can copy, bend, or mutilate the page to your liking.   This page is located in the framework here: <code>try.html</code>.  This page is built using the <em>default</em> layout.  You can read more about how the {{ site.title }} structure works in the <a href="http://mockmach.com/docs/structure/" target="_blank">docs</a>.</p>

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#try-banner-banner -->
</section><!-- /#try-banner -->
