/*
Use this sass command to create a clean, compact, and readable stylesheet.
sass assets/scss/custom.scss:assets/css/custom.css --style compact

Use this sass command to create a minified stylesheet.
sass assets/scss/custom.scss:assets/css/custom.min.css --style compressed
*/
/* rem conversion cheatsheet */
/*
 8px = 0.5rem
 9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* common or base font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$fontBasePrimary: 'Open Sans', Helvetica, Arial, sans-serif;
/* secondary or print font */
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
$fontPrintPrimary: 'Bree Serif', Times, serif;
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
$fontMonoPrimary: 'Inconsolata', Courier, monospace;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* base white or black colors or variants */
$colorLight: #fdfdfd;
$colorPale: whitesmoke;
$colorDark: #001;
$colorBlack: #27343d;
/*dark slate*/
$colorPrimary: #222222;
/*black-gray*/
$colorSecondary: #a3a380;
$colorHighlightPrimary: #ddd;
$colorHighlightSecondary: #eee;
$colorHyperlink: #3273dc;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* pixels
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$menuWidth: 150px;
$globalBorderRadius: 0px;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
    color: $colorDark;
    font-family: $fontBasePrimary;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    padding-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontPrintPrimary;
}

code,
pre {
    font-family: $fontMonoPrimary;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* framework overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.heading {
    text-transform: none;
}

.input {
    border-radius: $globalBorderRadius;
    box-shadow: none;
}

.box {
    border-radius: $globalBorderRadius;
    background: $colorPale;
}

.section {
    // padding: 3rem 1.5rem;
    padding: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* custom
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container-narrow {
    max-width: 50%;
}

.main-content {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

@media screen and (max-width: 999px) {
    .container-narrow {
        max-width: 100%;
        margin-left: .5em;
        margin-right: .5em;
    }
}

.push-right {
    float: right;
    // right: 0;
}

footer {
    margin-top: 3em;
}

footer.hero p {
    color: $colorSecondary;
}

footer.hero a, footer.hero a:active, footer.hero a:visited {
    color: $colorHighlightSecondary;
}

.page-title {
    padding: 3em 2em;
}
