/*
Use this sass command to create a clean, compact, and readable stylesheet.
sass assets/scss/custom.scss:assets/css/custom.css --style compact

Use this sass command to create a minified stylesheet.
sass assets/scss/custom.scss:assets/css/custom.min.css --style compressed
*/
/* rem conversion cheatsheet */
/*
 8px = 0.5rem
 9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* common or base font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900');
$fontBasePrimary: 'Source Sans Pro', Helvetica, Arial, sans-serif;
/* secondary or print font */
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
$fontPrintPrimary: 'Bree Serif', Times, serif;
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
$fontMonoPrimary: 'Inconsolata', Courier, monospace;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* base white or black colors or variants */
$colorLight: #fdfdfd;
$colorPale: whitesmoke;
$colorDark: #001;
$colorBlack: #27343d;
/*dark slate*/
$colorPrimary: #222222;
/*black-gray*/
$colorSecondary: #a3a380;
$colorHighlightPrimary: #ddd;
$colorHighlightSecondary: #eee;
$colorHyperlink: #3273dc;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* pixels
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$menuWidth: 150px;
$globalBorderRadius: 0px;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
    color: $colorDark;
    font-family: $fontBasePrimary;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    padding-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontPrintPrimary;
}

code,
pre {
    font-family: $fontMonoPrimary;
}

p {
    font-family: $fontBasePrimary;
    font-weight: 100;
    font-size: 1.1em;
    line-height: 1.4em;
    padding-bottom: .5em;
}

a {
    color: lighten( $colorHyperlink, 15% );
}

a:hover, a:visited {
    color: $colorHyperlink;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* framework overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.heading {
    text-transform: none;
}

.input {
    border-radius: $globalBorderRadius;
    box-shadow: none;
}

.box {
    border-radius: $globalBorderRadius;
    background: $colorPale;
}

.section {
    // padding: 3rem 1.5rem;
    padding: 0;
}

.nav-item img {
    padding-right: 1em;
}

.hero.has-landing-page-image p {
    color: whitesmoke;
}

.hero.has-landing-page-image a {
    color: $colorSecondary;
}

.hero.has-landing-page-image .nav {
    background: $colorPale;
    box-shadow: none;
    opacity: 0.5;
}

.hero.has-landing-page-image .title {
    color: $colorLight;
}

.hero-title {
    font-family: $fontBasePrimary;
    color: $colorLight;
    text-shadow: 2px 2px 2px $colorDark;
    font-size: 5em;
    font-weight: 800;
    padding-top: .5em;
}

.hero.is-dark a:not(.button) {
    color: lighten( $colorHyperlink, 12% );
}

@media screen and (max-width: 999px) {
    .hero-title {
        font-size: 3em;
        padding-top: .25em;
    }
}

@media screen and (max-width: 639px) {
    .hero-title {
        font-size: 2em;
        padding-top: .25em;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* custom
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container-narrow {
    max-width: 50%;
}

.main-content {
    padding-top: 1.75em;
    padding-bottom: 2em;
}

@media screen and (max-width: 999px) {
    .container-narrow {
        max-width: 100%;
        margin-left: .5em;
        margin-right: .5em;
    }
}

.push-right {
    float: right;
    // right: 0;
}

footer {
    margin-top: 3em;
}

footer.hero p {
    color: $colorPale;
}

.page-title {
    padding: 1.75em 1em;
}

.has-landing-page-image {
    background-color: #F62459;
    background-image: linear-gradient(rgba(9, 48, 40, 0.6),rgba(35, 122, 87, 0.6)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1468499419136-228128db8f7a?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=);
}

.fa {
    padding-right: .7em;
}
