
<div class="narrow-container well">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <div class="pure-u-1">
                <label for="fullName">Full Name</label>
                <input class="pure-input-1" type="email" placeholder="Full Name">
            </div>

            <div class="pure-u-1">
                <label for="message">Message</label>
                <textarea class="pure-input-1" placeholder="Message"></textarea>
            </div>

            <div class="action-bar">
                <a href="{{ site.baseurl }}/" class="pure-button">Cancel</a>
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<!-- /.narrow-container -->
