
<form class="pure-form pure-form-stacked">
    <fieldset>

        <div class="pure-u-1">
            <input class="pure-input-1" type="email" placeholder="Email">
        </div>

        <div class="pure-u-1">
            <input class="pure-input-1" type="password" placeholder="Password">
        </div>

        <div class="action-bar">
            <a href="{{ site.baseurl }}/" class="pure-button">Cancel</a>
            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
        </div>
    </fieldset>
</form>
